:root {
  --ltBlue: #c4f1ff;
  --mainWhite: #f5f6f8;
  --mdBlue: #5970a7;
  --orange: #f87e40;
  --dkBlue: #000a6c;
}
html {
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

.App .calculator {
  height: 90vh;
  margin: 2px auto;
  border-radius: 0 0 7% 7%;
  font-family: "Roboto", sans-serif;
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 19px rgba(0, 0, 0, 0.4);
}
.calculator {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  outline: none;
  overflow: hidden;
  border: none;
}
.calculator-display {
  height: 33vh;
  width: 100%;
  background-color: #f5f6f8;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1em;
  -webkit-box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.faEllipsisV {
  display: block;
  cursor: pointer;
  margin: 5px 0 10px 15px;
  height: 3vh;
}
.rad-deg {
  color: var(--mdBlue);
  position: absolute;
  left: 35px;
  top: 10px;
  cursor: default;
}
.input-display {
  color: #000a6c;
  width: 100%;
  height: 18vh;
  font-size: 35px;
  text-align: right;
  padding: 15px;
  margin-bottom: 0;
  overflow-y: hidden;
  line-height: 1.3em;
  transition: all 0.5s ease-out;
}

.answer-display {
  color: var(--mdBlue);
  width: 100%;
  height: 12vh;
  font-size: 25px;
  padding: 15px;
  margin-top: 0;
  text-align: right;
  transition: all 0.5s ease-out;
}
.calculator-keypad {
  height: 60vh;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: ;
}
.pad {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.number-pad {
  background-color: #c4f1ff;
  width: 100%;
  padding: 30px;
  margin: 0;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}
.number-pad > button {
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 100%;
  outline: none;
  text-align: center;
  background-color: transparent;
  font-size: 2em;
  color: var(--dkBlue);
}
.number-pad > button:hover {
  background-color: #b2dbe8;
}
.number-pad > button:active {
  color: var(--mdBlue);
  background-color: var(--dkBlue);
}

.operators {
  background-color: var(--dkBlue);
  padding: 0;
}
.operators > button {
  width: 100%;
  height: 55px;
  outline: none;
  overflow: hidden;
  border: none;
  background-color: transparent;
  color: var(--mainWhite);
  cursor: pointer;
  border-radius: 100%;
}
.operators > button:hover {
  background-color: #0019ff;
}
.operators > button:active {
  color: #000a6c;
  background-color: #b1bace;
}
.extra-operators {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: #f87e40;
  padding: 5px;
  margin: 0;
  height: 100%;
  width: 215px;
  position: absolute;
  right: -188px;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.extra-operators > button {
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 5px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 0.9em;
  color: #000a6c;
  background-color: transparent;
  border-radius: 100%;
}
.extra-operators > button:hover {
  background-color: #f79c6f;
}
.extra-operators > button:active {
  color: var(--mainWhite);
  background-color: var(--dkBlue);
}
.drag-sym {
  position: absolute;
  top: 35%;
  left: -15px;
  color: var(--mainWhite);
  cursor: pointer;
}
